<div class="formulario-container">
  <h1>Calculadora de Calorías</h1>
  <form [formGroup]="formulario">
    <!-- Selección de sistema métrico -->
    <label>Sistema Métrico:</label>
    <select formControlName="sistema">
      <option value="imperial">Imperial (libras, pulgadas)</option>
      <option value="decimal">Decimal (kg, cm)</option>
    </select>

    <label>Edad (años):</label>
    <input type="number" formControlName="edad" />
    <div *ngIf="formulario.get('edad')?.invalid && formulario.get('edad')?.touched">
      <small *ngIf="formulario.get('edad')?.hasError('required')">La edad es obligatoria.</small>
      <small *ngIf="formulario.get('edad')?.hasError('min')">La edad debe ser al menos 16 años.</small>
      <small *ngIf="formulario.get('edad')?.hasError('max')">La edad no puede superar los 105 años.</small>
      <small *ngIf="formulario.get('edad')?.hasError('negativeNumber')">La edad no puede ser un número negativo.</small>
    </div>

    <label>Peso:</label>
    <input
      type="number"
      formControlName="peso"
      placeholder="En libras o kg según el sistema"
    />
    <div *ngIf="formulario.get('peso')?.invalid && formulario.get('peso')?.touched">
      <small *ngIf="formulario.get('peso')?.hasError('required')">El peso es obligatorio.</small>
      <small *ngIf="formulario.get('peso')?.hasError('min')">El peso mínimo es 40.5 kg.</small>
      <small *ngIf="formulario.get('peso')?.hasError('max')">El peso máximo es 300 kg.</small>
      <small *ngIf="formulario.get('peso')?.hasError('negativeNumber')">El peso no puede ser un número negativo.</small>
    </div>

    <label>Altura:</label>
    <input
      type="number"
      formControlName="altura"
      placeholder="En pulgadas o cm según el sistema"
    />
    <div *ngIf="formulario.get('altura')?.invalid && formulario.get('altura')?.touched">
      <small *ngIf="formulario.get('altura')?.hasError('required')">La altura es obligatoria.</small>
      <small *ngIf="formulario.get('altura')?.hasError('min')">La altura mínima es 140 cm.</small>
      <small *ngIf="formulario.get('altura')?.hasError('max')">La altura máxima es 225 cm.</small>
      <small *ngIf="formulario.get('altura')?.hasError('negativeNumber')">La altura no puede ser un número negativo.</small>
    </div>

    <div class="resultado">
      <h2>Calorías diarias: {{ calorias ? calorias.toFixed(2) : '---' }} kcal</h2>
    </div>
  </form>
</div>

